
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: #59332E;
}

h1 {
    color:#FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 67px;
    text-align: right;
    margin-top: 20px;
    margin-right: 250px;
    font-family: Cinzel;
}

h2{
    color:#FFFFFF;
    font-family: Cinzel;

}

.artigo{
    position: absolute;
    width: 670px;
    height: 907px;
    left: 536px;
    top: 132px;
    
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 32px;
    text-align: justify;
    
    color: #F2F0EB;
}
.artigo2 {
position: absolute;
width: 500px;
height: 196px;
left: 62px;
top: 740px;

font-family: 'Lora';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 32px;
text-align: justify;

color: #F2F0EB;
}

 .button_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .button_container button {
    font-family: Lora;
    background-color: #A65E55;
    color: #fff;
    border: 3%;
    border-color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 239px;
    margin-left: 1200px;
}

 button a {
    color: #FFFFFF;
}
    
 button a:link, a:visited {
    text-decoration: none;

 }
   button a:hover {
    text-decoration: none;
    color: #FFFFFF;
 }
  button a:active  {
    text-decoration: none;
 }

 .rodape {
    width: 100%;
    height: 240px;
    left: 0px;
    margin: 0;
    top: 2940px;
    background: #A55E54;
    border: 1px solid #B3746B;
    align-items: center;
    align-content: center;
 }